<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Mogra|Muli" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <script src="https://use.fontawesome.com/9c7db748b8.js"></script>
    <link href="/public/css/style.css" rel="stylesheet">
    <title>Web Audio Player</title>
  </head>
  <body>
    <!-- <div class="modal" id="register">
      <div class="modal-window">
        <div class="modal-header">
            <div class="modal-name">Modal name</div>
            <div class="modal-close" onclick="modalClose('register')">Close</div>
        </div>
        <div class="modal-content">
            Modal-content
        </div>
      </div>
    </div> -->
    <div class="alerts" id="alerts">

    </div>
    <div class="modal" id="register">
      <div class="modal-window" id="register-window">
        <div class="modal-header">
            <div class="modal-name">Register</div>
            <div class="modal-close" onclick="modalClose('register')">Close</div>
        </div>
        <div class="modal-content">
            <form>
              <table class="register_table">
                <tr>
                  <td>Login</td>
                  <td><input type="text" id="register_login_field" name="login"></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><input type="password" id="register_password_field" name="login"></td>
                </tr>
              </table>
              <input type="button" value="Register" onclick="user.register()" class="button">
            </form>
        </div>
      </div>
    </div>

    <div class="modal" id="login">
      <div class="modal-window" id="login-window">
        <div class="modal-header">
            <div class="modal-name">Login</div>
            <div class="modal-close" onclick="modalClose('login')">Close</div>
        </div>
        <div class="modal-content">
            <form>
              <table class="register_table">
                <tr>
                  <td>Login</td>
                  <td><input type="text" id="auth_login_field" name="login"></td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><input type="password" id="auth_password_field" name="login"></td>
                </tr>
              </table>
              <input type="button" value="Log in" onclick="user.auth()" class="button">
            </form>
        </div>
      </div>
    </div>


    <div class="box">
      <div class="header">
        <div class="logo">The name for project</div>
      </div>
      <div class="content">
        <div class="sidebar">
          <ul class="side_menu">
            <li onclick="modalOpen('register')">Sign in</li>
            <li onclick="modalOpen('login')">Log in</li>
            <li>Find music</li>
            <li>Playlists</li>
            <li>Channels</li>
            <li>About WAP</li>
          </ul>
        </div>
        <div class="main_wrap">
          <div class="player">
            <div class="player_info">
              <img src="http://tabs4you.ru/media/images/20/26/7939573466523923.jpg">
            </div>
            <div class="player_control">
              <div class="play playerButton">
                <i class="fa fa-play" aria-hidden="true"></i>
              </div>
              <div class="pervious playerButton">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
              </div>
              <div class="next playerButton">
                <i class="fa fa-step-forward" aria-hidden="true"></i>
              </div>
              <div class="music_bar">
                <div class="song_name">
                  <div class="music_player_group">Alan Walker</div>-
                  <div class="music_player_name">Routine</div>
                  <div class="time">2:42</div>
                </div>
                <div class="time_line">
                  <div class="background_timeline">
                    <div class="current_timeline"></div>
                    <div class="expect_timeline"></div>
                  </div>
                </div>
              </div>
              <div class="volume_control">
                <div class="background_volume">
                  <div class="current_volume"></div>
                  <div class="expect_volume"></div>
                </div>
              </div>
              <div class="repeat playerButton">
                <i class="fa fa-repeat" aria-hidden="true"></i>
              </div>

            </div>
          </div>
          <div class="main">
            {{{body}}}
          </div>
        </div>
      </div>
    </div>
    <script src="/public/js/modal.js"></script>
    <script src="/public/js/alerts.js"></script>
    <script src="/public/js/user.js"></script>

  </body>
</html>
