<div class="playlists_block">
  <!-- <div class="playlist_block">
    <img src="https://pianokafe.com/upload/iblock/bc3/cs2963218_02a_big.jpg">
    <div class="playlist_block_name">
      Lorem ipsum
    </div>
    <div class="playlist_block_description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...
    </div>
  </div> -->
</div>
