<div class="playlist_wrap_block">
  <div class="playlist_header">
    <img src="{{photo}}">
    <div class="playlist_info">
      <div class="playlist_title">
        {{title}}
      </div>
      <div class="playlist_author">
        Posted by {{author}}
      </div>
      <div class="playlist_description">
        {{description}}
      </div>
    </div>
  </div>
  <div class="songs_block">
    <!-- <div class="music_block">
      <div class="music_img">
        <div class="play_button"><i class="fa fa-play" aria-hidden="true"></i></div>
        <img src="http://tabs4you.ru/media/images/20/26/7939573466523923.jpg">
      </div>
      <div class="music_group_name">Alan Walker</div>
      <div class="music_name">Fade</div>
    </div> -->
  </div>
</div>
