<form method="POST" action="/r">
  <input type="text" name="login">
  <input type="password" name="password">
  <input type="submit">
</form>
<form method="POST" action="/a">
  <input type="text" name="login">
  <input type="password" name="password">
  <input type="submit">
</form>
