  body{
    padding: 0;
    margin: 0;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: center;
    background: #e4e4e4;
  }
  .box{
    width:750px;
    min-height:400px;
    background: #fff;
    box-shadow: 0px 0px 0.5px 0px #b7b7b7;
  }
  .header{
    width: 100%;
    height: 50px;
    background: #236fbf;
    position: relative;
  }
  .logo{
    color: white;
    line-height: 50px;
    font-size: 15px;
    width: calc(25% - 20px);
    float: left;
    padding: 0px 10px;
    cursor: pointer;
  }
  .logo:hover{
    background: #1c60a9;
  }
  .content{
    width: 100%;
    display: flex;
  }
  .sidebar{
    width: 25%;
    border-right: 1px solid #dcdcdc;
    min-height: 400px
  }
  .main{
    width: 100%;
  }
  .modal{
    background: rgba(0,0,0, 0.4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    justify-content: center;
    display: none;
    z-index:99;
  }
  .modal-window{
    width:450px;
    height: 200px;
    background: white;
    margin-top:-300px;
    transition: 0.3s;
  }
  .modal-header{
    width: calc(100% - 30px);
    height: 50px;
    background: #236fbf;
    color: #fff;
    padding: 15px;
  }
  .modal-header{
    display: flex;
    justify-content: space-between;
  }
  .modal-content{
    width: calc(100% - 30px);
    padding: 15px;
  }
  .modal-close{
    cursor: pointer;
    height: 25px;
  }
  .modal-close:hover{
    color: #ececec;
  }
  .modal_open{
    display: flex;
  }
  .modalWindow_open{
    margin-top: 10vh;
  }
  .register_table > tbody > tr > td{
    padding:3px 0 3px 10px;
    font-size: 15px;
  }
  .button{
    border:none;
    outline:none;
    background: #236fbf;
    padding: 5px 10px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
  }
  .button:hover{
    border:none;
    outline:none;
    background: #09519c;
  }
  .side_menu{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .side_menu > li{
    width: calc(100% - 20px);
    padding: 5px 10px;
    margin: 0;
    list-style-type: none;
    display: block;
    cursor: pointer;
    transition: 0.2s;
  }
  .side_menu > li:hover{
    background: #f1f6fb;
    width: calc(100% - 25px);
    border-left: 5px solid #236fbf;
  }
  .profile{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .user_info{
    width:25%;
    padding: 5px;
  }
  .user_info > img{
    width: 100%;
  }
  .user_info > .about{
    text-align: center;
    font-size: 18px;
  }
  .user_history{
    width: 70%;
  }
  .history_block_name{
    width: 100%;
    padding:5px;
    font-size: 25px;

  }
  .history_block_music{
    width: 100%;
    min-height: 50px;
  }
  .music_block{
    display: flex;
    height:40px;
    line-height:40px;
    margin-top: 5px;
    cursor: pointer;

  }
  .music_block:hover{
    background: #e8e8e8;
  }
  .music_img > img{
    width: 40px;
    height:40px;
  }
  .music_img:hover > .play_button{
    display: block;
  }
  .play_button{
    width: 40px;
    height:40px;
    position:absolute;
    background: rgba(0,0,0,0.2);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: white;
    display: none;
  }
  .music_group_name{
    margin:0px 10px;
    font-size:18px;
    color: #434d56;
  }
  .music_name{
    font-size:19px;
    color: #000;
  }
  .alerts{
    min-width: 0;
    max-width: 300px;
    height:100vh;
    background: rgba(0,0,0,0.04);
    position: fixed;
    right: 0;
    z-index:999;
  }
  .alert{
    width: 300px;
    height: 70px;
    background: white;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5px;
  }
  .alert:hover .close_alert{
    margin: 0;
  }
  .alert:hover .alert_txt{
    width: calc(100% - 90px);
  }
  .close_alert{
    width: 70px;
    float: right;
    height: 100%;
    line-height: 70px;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.2);
    color: black;
    font-weight: bold;
    transition: 0.3s;
    margin-right: -70px;
  }
  .green{
    border-left: 6px solid #75f760;
  }
  .red{
    border-left: 6px solid #f76060;
  }
  .close_alert:hover{
    background: rgba(0, 0, 0, 0.5);
  }
  .alert_txt{
    float: left;
    width: calc(100% - 90px);
    transition: 0.3s;
    padding: 10px;
  }
  .remove_modal{
    margin-left: 300px;
  }
  .player{
    height: 50px;
    width: calc(100% - 10px);
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    border-bottom: 1px solid #dcdcdc;
    transition: 0.5s;
    padding: 5px;
  }
  .player_info{
    width: 50px;
  }
  .player_info > img{
    width: 50px;
  }
  .playerButton{
    width: 30px;
    height:30px;
    margin: 10px 0px;
    cursor: pointer;
    line-height:30px;
    text-align:center;
    transition: 0.1s;
  }
  .playerButton:hover{
    color: #236fbf;
    font-size:19px;
  }
  .repeat:hover{
    transform: RotateZ(30deg)
  }
  .player_control{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .music_bar{
    width: 50%;
    padding: 5px;
  }
  .music_player_group, .music_player_name, .time{
    display: inline-block;
  }
  .music_player_group{
    font-size: 17px;
  }
  .time{
    float: right;
    color: grey;
    font-size: 12px;
  }
  .music_player_name{
    color: #5f5f5f;
  }
  .song_name{
    width: 100%;
  }
  .time_line{
    width: 100%;
    height:20px;
    margin-top: 5px;
    cursor: pointer;
  }
  .main_wrap{
    width: 75%;
    overflow: hidden;
  }
  .volume_control{
    width: 100px;
    height: 20px;
    margin-top: 31px;
    cursor: pointer;
  }
  .background_timeline{
    background: #d8d8d8;
    width: 100%;
    height:3px;
  }
  .current_timeline{
    background: #236fbf;
    width: 100px;
    height:3px;
    position:absolute;
  }
  .expect_timeline{
    background: rgba(11, 59, 109, 0.31);
    width: 0;
    height:3px;
    position:absolute;
  }

  .background_volume{
    background: #d8d8d8;
    width: 100%;
    height:3px;
  }
  .current_volume{
    background: #236fbf;
    width: 20px;
    height:3px;
    position:absolute;
  }
  .expect_volume{
    background: rgba(11, 59, 109, 0.31);
    width: 0;
    height:3px;
    position:absolute;
  }
